*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: rgb(255,105,0);
    position: fixed;
    width: 100%;
}

.top-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.small{
    flex-basis: 20%;
    color: white;
}

.big{
    flex-basis: 40%;
}

.left-side ul{
    display: flex;
}

.left-side ul li{
   margin: 0 5px;
}

 li a{
    text-decoration: none;
    color: white;   
}

 /* li a:hover a:active{
    text-decoration: underline;
    color: white;
} */

.center-side{
    text-align: center;
}

.center-side img{
    width: 20%; 
}

.right-side{
    display: flex;
    justify-content: flex-end;
}

.right-side i{
   margin: 0 5px;
}

      /* START MAIN */
